body {
  background-color: #14213d;
  color: #e5e5e5;

  font-family: 'Open Sans', Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

strong {
  color: #fca311;
}

.container {
  width: 800px;
}

header {
  margin-top: 70px;
}

header h2 span {
  display: block;
}

.header-content {
  display: flex;
}

header img {
  border-radius: 5px;
  height: 150px;
  box-shadow: #000 1px 1px;
}

